
/* =========================
   TELAS MAIORES
========================= */

@media screen and (min-width: 768px) {

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    nav {
        flex-direction: row;
        width: auto;
    }

    nav a {
        padding: 1rem 0.7rem;
    }

    main {
        padding: 0 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    form {
        padding: 2rem;
    }

    fieldset {
        padding: 1.5rem 2%;
    }

    input[type="submit"] {
        width: 50%;
        margin: 0 auto;
    }
}
