 @media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        /* vira menu horizontal */
        justify-content: space-evenly;
    }
    .menu-links {
        flex-direction: row;
        width: auto;
    }
    .header-container {
        flex-wrap: nowrap;
        /* tudo em uma linha só */
        padding: 10px 40px;
    }
        /* Esconde o hambúrguer */
    #menu {
        display: none;
             
    }
    .hero {
        min-height: 450px;
    }
    .hero h1 {
        font-size: 2.2rem;
    }
    .hero-onda {
        height: 120px;
    }
    /* */
    .produtos-lista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
     .produto img {
        height: 150px;
    }
    .produtos-container {
        gap: 5px;
    }
        /* Menu horizontal */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
         /* Mostra todos os links */
    .navigation a {
        display: block;
        flex: 1;
    }
        /* RODAPÉ PARA TELAS GRANDES */
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        text-align: left;
    }
    
    .footer-coluna {
        text-align: left;
    }
    
    .redes-sociais {
        justify-content: flex-start;
    }
    
 }