
.conteiner {
    border: 3px solid #1D4D72;
    border-radius: 10px;
    flex: 3;   
    
}

.content-header {
    background-color: #1D4D72;
    color: white;
    padding: 20px;
    min-height: 10px;
    text-align: center;

}

 /* Tamanho da Fonte Titulo*/
.course-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    
}

.conteinercentral {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    
}

.conteiner2 {
    flex: 1;
    border: 3px solid #1D4D72;
    border-radius: 10px;

}

/* Sobre Mim*/
.card {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.texto-sobre {
    flex: 1;
}

.card img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    
}


main {
    background-color: #fff;
    min-height: 420px;

}

aside {
    background-color: #fff;
    min-height: 420px;

}
/* Meu nome*/
.perfilnome {
    text-align: center;
    padding: 25px 10px;
    
}

.perfilnome p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    color: #08506d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Menu de Navegação */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;

}    

h1 {
    font-weight: 100;
    background-color: #1D4D72;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;

}

h2 {
    font-weight: 100;
    background-color: #1D4D72;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;

}

p {
    text-align: center;
}

nav {
    margin: 0;
    max-width: 100vw;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* quebrem a linha" quando não houver espaço suficiente. */
    background-color: #000000;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
    /* Qual é a diferença entre automático e 100% flexível? */
}

.navigation a {
    display: block;
    color: #ffffff;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    
    
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #1D4D72;
}
/* Menu do Recursos Web Dev */
.conteiner2 aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.conteiner2 a {
    padding-left: 10px;
    text-decoration: none;     /* Remove o sublinhado */
    color: #1D4D72;        /* Remove o azul padrão */
    padding: 12px 14px;
    
    background-color: #ffffff;
    
    border: 1px solid #dddddd;
    border-radius: 5px;
    
    font-weight: bold;
    
    transition:
        transform 0.3s,
        background-color 0.3s,
        color 0.3s;
}

.conteiner2 a:hover {
    background-color: #08506d;
    color: white;
    
    transform: translateX(4px);

}

.ultimaModificacao {
    color: #dcf809
}

footer {
    background-color: #1D4D72;
    color: white;
    text-align: center;
    min-height: 50px;
    
}