body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}
/*
marquee {
    padding: 1rem;
    background-color: #eee;
}
*/
/* Exclua o marquee e substitua-o por uma área fixa <div class="banner">,
conforme mostrado na figura.*/
.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: rgb(230 243 254 / 1);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem;   opcional, mas recomendado para dar espaço entre as colunas */
}

h2 {
    color: navy;
    /*Corrija a justificação do alinhamento <h2>para que fique alinhado à esquerda em vez de centralizado*/
    text-align: left;
    
    /*O título <h2>dentro deste contêiner <main>*/
    grid-column: 1 / -1; /* ocupa da primeira à última linha = as duas colunas */
    

}

article p {
    text-align: justify;
}

/*6 Corrija os problemas de contraste no div.callout e verifique se ele passa nos níveis AA e AAA*/
.callout {
    color: #ffffff; 
    background-color: #702963;
    padding: 1rem; /* Corrija os problemas de padding no contêiner div.callout.*/
    /* border: 1px solid #777777;*/
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: right;
}